@font-face {
   font-family: 'GOTHICB';
   font-display: swap;
   src: url('file:///C:/Users/afulton/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-18_093755/fonts/GOTHICB/font.TTF');
}
